<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <head>
    <title>Document</title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <meta name="author" content="Document" />
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="Document" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <link rel="icon" href="images/favicon.png" type="image/png" sizes="25x25" />
    <!-- fontawesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- stylesheets -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/views/pages/design-crypto/main/assets/css/app.css"
    />
    <link rel="stylesheet" href="/public/css/common.css" type="text/css" />
  </head>
  <body>
    <!-- resolution alert -->
    <div class="resolution-alert">
      <p>Unsupported display resolution</p>
    </div>

    <div class="wrapper wh-100 bgs-secondary text-dark fs-xs">
      <div class="container">
        <div class="d-flex fs-xxs mb-2 sticky-stick">
          <div
            class="hoverable-white-card mx-1 d-flex align-items-center justify-content-between pointer"
          >
            <span>BTC</span>
            <img
              src="images/4df51bbf10f53015cb1b.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div
            class="hoverable-white-card mx-1 d-flex align-items-center justify-content-between pointer"
          >
            <span>ETH</span>
            <img
              src="images/cfb87d5744f5c46c8cfb.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div
            class="hoverable-white-card mx-1 d-flex align-items-center justify-content-between pointer"
          >
            <span>BNB</span>
            <img
              src="images/846f275d92f12abd705e.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div
            class="hoverable-white-card mx-1 d-flex align-items-center justify-content-between pointer"
          >
            <span>SOL</span>
            <img
              src="images/44e568a9f4882d36aa62.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div
            class="hoverable-white-card mx-1 d-flex align-items-center justify-content-between pointer"
          >
            <span>DOT</span>
            <img
              src="images/5446b5dcf0bbf15dc06b.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div
            class="hoverable-white-card mx-1 d-flex align-items-center justify-content-between pointer"
          >
            <span>LTC</span>
            <img
              src="images/e8c8d0a447c375a30325.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div
            class="hoverable-white-card mx-1 d-flex align-items-center justify-content-between pointer"
          >
            <span>XRP</span>
            <img
              src="images/b36449ea726bc0836c06.png"
              alt=""
              class="img-fluid"
            />
          </div>
          <div
            class="hoverable-white-card mx-1 d-flex align-items-center justify-content-between pointer"
          >
            <span>ATOM</span>
            <img
              src="images/04f78a4ae05cca160349.png"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-3">
            <div class="">
              <div class="fixed-white-card mx-1">
                <div class="">
                  <span class="fs-xxxs">Exchange</span>
                  <div class="dropdown_list">
                    <div class="d-select">
                      <div class="d-caret"></div>
                      <span class="d-selected">
                        <div class="d-flex justify-content-between">
                          <div class="hider-value">
                            <span class="fs-xxs"></span>
                          </div>
                          <div class="display-value d-flex align-items-center">
                            <div class="front-back-img me-1">
                              <img
                                src="images/2e3b383151852efbb560.svg"
                                alt=""
                                class="img-fluid"
                              />
                            </div>
                            <span class="fs-xxs">KK</span>
                          </div>
                        </div>
                      </span>
                    </div>
                    <ul class="d-menu">
                      <li>
                        <div class="d-flex justify-content-between">
                          <div class="hider-value">
                            <span class="fs-xxs"></span>
                          </div>
                          <div class="display-value d-flex align-items-center">
                            <div class="front-back-img me-1">
                              <img
                                src="images/2e3b383151852efbb560.svg"
                                alt=""
                                class="img-fluid"
                              />
                            </div>
                            <span class="fs-xxs">KK</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div class="">
                      <span class="fs-xxxs">Balance:</span>
                      <p>- USDT</p>
                    </div>

                    <div class="">
                      <span class="fs-xxxs">Available Balance:</span>
                      <p>- USDT</p>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="btn-box-toggler-wrapper d-flex justify-content-between"
              >
                <div class="toggle-button toggle-button1"></div>
                <button
                  type="button"
                  name="button"
                  id=""
                  class="btn toggler-button-left toggler-button-left1 active fs-xs w-50"
                  onclick="leftClickedToggle1();"
                >
                  Only once
                </button>
                <button
                  type="button"
                  name="button"
                  id=""
                  class="btn toggler-button-right toggler-button-right1 fs-xs w-50"
                  onclick="rightClickedToggle1();"
                >
                  Loop
                </button>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3">
            <div class="">
              <div class="fixed-white-card mx-1">
                <div class="">
                  <span class="fs-xxxs">Asset</span>
                  <div class="dropdown_list">
                    <div class="d-select">
                      <div class="d-caret"></div>
                      <span class="d-selected">
                        <div class="d-flex justify-content-between">
                          <div class="hider-value">
                            <span class="fs-xxs">Bitcoin vs. Tether</span>
                          </div>
                          <div class="display-value d-flex align-items-center">
                            <div class="front-back-img me-3">
                              <img
                                src="images/bitcoin.webp"
                                alt=""
                                class="img-fluid"
                              />
                              <div class="back-img">
                                <img
                                  src="images/825.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <span class="fs-xxs">BTCUSDT</span>
                          </div>
                        </div>
                      </span>
                    </div>
                    <ul class="d-menu">
                      <li>
                        <div class="d-flex justify-content-between">
                          <div class="hider-value">
                            <span class="fs-xxs">Bitcoin vs. Tether</span>
                          </div>
                          <div class="display-value d-flex align-items-center">
                            <div class="front-back-img me-3">
                              <img
                                src="images/bitcoin.webp"
                                alt=""
                                class="img-fluid"
                              />
                              <div class="back-img">
                                <img
                                  src="images/825.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <span class="fs-xxs">BTCUSDT</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <div class="hider-value">
                            <span class="fs-xxs">Ethereum vs. Tether</span>
                          </div>
                          <div class="display-value d-flex align-items-center">
                            <div class="front-back-img me-3">
                              <img
                                src="images/ethereum.webp"
                                alt=""
                                class="img-fluid"
                              />
                              <div class="back-img">
                                <img
                                  src="images/825.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <span class="fs-xxs">ETHUSDT</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <div class="hider-value">
                            <span class="fs-xxs">Bitcoin Cash vs. Tether</span>
                          </div>
                          <div class="display-value d-flex align-items-center">
                            <div class="front-back-img me-3">
                              <img
                                src="images/bitcoin-cash-circle.webp"
                                alt=""
                                class="img-fluid"
                              />
                              <div class="back-img">
                                <img
                                  src="images/825.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <span class="fs-xxs">BCHUSDT</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <div class="hider-value">
                            <span class="fs-xxs">XRP vs. Tether</span>
                          </div>
                          <div class="display-value d-flex align-items-center">
                            <div class="front-back-img me-3">
                              <img
                                src="images/xrp-symbol-white-128.webp"
                                alt=""
                                class="img-fluid rounded-circle"
                              />
                              <div class="back-img">
                                <img
                                  src="images/825.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <span class="fs-xxs">XRPUSDT</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="d-flex justify-content-between">
                          <div class="hider-value">
                            <span class="fs-xxs">EOS vs. Tether</span>
                          </div>
                          <div class="display-value d-flex align-items-center">
                            <div class="front-back-img me-3">
                              <img
                                src="images/eos-eos-logo.webp"
                                alt=""
                                class="img-fluid"
                              />
                              <div class="back-img">
                                <img
                                  src="images/825.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </div>
                            </div>
                            <span class="fs-xxs">EOSUSDT</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div class="">
                      <span class="fs-xxxs">Current Price:</span>
                      <p>- USDT</p>
                    </div>

                    <div class="">
                      <span class="fs-xxxs">Mark Price:</span>
                      <p>- USDT</p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="btn-box-toggler-wrapper d-flex justify-content-between"
              >
                <div class="toggle-button toggle-button2"></div>
                <button
                  type="button"
                  name="button"
                  id=""
                  class="btn toggler-button-left toggler-button-left2 active fs-xs w-50"
                  onclick="leftClickedToggle2();"
                >
                  Long
                </button>
                <button
                  type="button"
                  name="button"
                  id=""
                  class="btn toggler-button-right toggler-button-right2 fs-xs w-50"
                  onclick="rightClickedToggle2();"
                >
                  Short
                </button>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3">
            <div class="mx-1">
              <div class="d-flex">
                <div class="fixed-white-card me-1">
                  <span class="fs-xxxs">24H Change</span>
                  <p id="">-</p>
                </div>
                <div class="fixed-white-card ms-1">
                  <span class="fs-xxxs">24H Volume (BTC)</span>
                  <p id="">-</p>
                </div>
              </div>
              <div class="fixed-white-card mt-1">
                <span class="fs-xxxs">Ask</span>
                <p id="">-</p>
                <div class="d-flex justify-content-between">
                  <div class="">
                    <span class="fs-xxxs">Bid</span>
                    <p id="">-</p>
                  </div>
                  <div class="">
                    <span class="fs-xxxs">Spread</span>
                    <p id="">-</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3">
            <div class="mx-1">
              <div class="d-flex">
                <div class="fixed-white-card me-1">
                  <span class="fs-xxxs">24H High</span>
                  <p id="">-</p>
                </div>
                <div class="fixed-white-card ms-1">
                  <span class="fs-xxxs">24H Low</span>
                  <p id="">-</p>
                </div>
              </div>
              <div class="fixed-white-card mt-1">
                <span class="fs-xxxs">24H Range</span>
                <div class="mt-4">
                  <div class="progress-bar-dyn">
                    <div class="progress-line-dny"></div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <span id="" class="fs-xxxs">18,215.0</span>
                    <span id="" class="fs-xxxs">20,019.0</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Loop Settings start -->
        <div class="mt-4 loop-settings">
          <div class="pb-3">
            <span class="fw-md"
              >Loop Settings <sup class="text-danger">*</sup></span
            >
          </div>
          <div class="fixed-white-card">
            <div class="row">
              <div class="col-4 col-md-4 my-2">
                <div class="d-flex">
                  <span class="me-1">Name:</span>
                  <div class="text-box-fx d-flex align-items-center ms-5">
                    <input
                      type="number"
                      name=""
                      value=""
                      id=""
                      class="text-end"
                    />
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-4 my-2">
                <div
                  class="text-center d-flex align-items-center justify-content-center"
                >
                  <span class="me-2 fs-xxs">Category:</span>
                  <div class="loop-settings-wrapper">
                    <button
                      type="button"
                      name="button"
                      class="btn btn-sm fs-xxs loop-settings-list active"
                    >
                      Bullish
                    </button>
                    <button
                      type="button"
                      name="button"
                      class="btn btn-sm fs-xxs loop-settings-list"
                    >
                      Bearish
                    </button>
                    <button
                      type="button"
                      name="button"
                      class="btn btn-sm fs-xxs loop-settings-list"
                    >
                      Normal
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-4 my-2">
                <div class="d-flex align-items-center justify-content-end">
                  <span class="me-1 fs-xxs">Force Stop:</span>
                  <div
                    class="text-box-fx d-flex align-items-center me-2"
                    style="width: 100px"
                  >
                    <input
                      type="number"
                      name=""
                      value=""
                      id=""
                      placeholder="disabled"
                      disabled
                      class="text-end"
                    />
                  </div>
                  <button
                    type="button"
                    name="button"
                    class="btn btn-secondary fs-xxs btn-extra"
                    disabled
                  >
                    Change
                  </button>
                </div>
              </div>
              <div class="col-12 col-md-12 my-2">
                <div class="d-flex">
                  <span>Description:</span>
                  <div class="text-box-fx d-flex align-items-center ms-3">
                    <input
                      type="number"
                      name=""
                      value=""
                      id=""
                      class="text-end"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Loop Settings end -->

        <!-- grid buttons start -->
        <div class="mt-4">
          <div class="fixed-white-card">
            <div class="d-flex justify-content-center">
              <div
                class="grid-btn-box-toggler-wrapper d-flex justify-content-between"
              >
                <div class="grid-toggle-button"></div>
                <button
                  type="button"
                  name="button"
                  id=""
                  class="btn grid-toggler-button-left active fs-xs w-50"
                  onclick="gridLeftClickedToggle();"
                >
                  PRICE GRID
                </button>
                <button
                  type="button"
                  name="button"
                  id=""
                  class="btn grid-toggler-button-center fs-xs w-50"
                  onclick="gridCenterClickedToggle();"
                >
                  % GRID
                </button>
                <button
                  type="button"
                  name="button"
                  id=""
                  class="btn grid-toggler-button-right fs-xs w-50"
                  onclick="gridRightClickedToggle();"
                >
                  RSI GRID
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- grid buttons end -->

        <div class="mt-4">
          <span class="fw-md">Timeframe <sup class="text-danger">*</sup></span>
          <div class="fixed-white-card mt-3">
            <div class="row align-items-center">
              <div class="col-6 col-md-6">
                <div class="">
                  <p class="fs-xxs">
                    Select execution timeframe (How often should we check the
                    conditions?)
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-6">
                <div class="text-end">
                  <button
                    type="button"
                    name="button"
                    class="btn btn-sm fs-xxs timeframe-list"
                  >
                    1 minute
                  </button>
                  <button
                    type="button"
                    name="button"
                    class="btn btn-sm fs-xxs timeframe-list"
                  >
                    5 minute
                  </button>
                  <button
                    type="button"
                    name="button"
                    class="btn btn-sm fs-xxs timeframe-list"
                  >
                    15 minute
                  </button>
                  <button
                    type="button"
                    name="button"
                    class="btn btn-sm fs-xxs timeframe-list"
                  >
                    30 minute
                  </button>
                  <button
                    type="button"
                    name="button"
                    class="btn btn-sm fs-xxs timeframe-list"
                  >
                    1 hour
                  </button>
                  <button
                    type="button"
                    name="button"
                    class="btn btn-sm fs-xxs timeframe-list"
                  >
                    4 hour
                  </button>
                  <button
                    type="button"
                    name="button"
                    class="btn btn-sm fs-xxs timeframe-list"
                  >
                    1 day
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="fixed-white-card">
            <div class="d-flex justify-content-between">
              <span class="fw-md">First Buy</span>
              <span class="fw-md">10$</span>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-md-6 my-3">
              <div class="">
                <span class="fw-md"
                  >Open Conditions <sup class="text-danger">*</sup></span
                >
              </div>
              <ol class="append-list-left mt-3">
                <li class="clone-div clone-div-left">
                  <div class="fixed-white-card">
                    <div class="d-flex justify-content-between">
                      <div class="card-data-area d-flex">
                        <div class="ddr-dropdown">
                          <div class="caret"></div>
                          <select class="style-dropdown fs-xxs" name="">
                            <option value="">Price</option>
                            <option value="">Percentage</option>
                            <option value="">RSI</option>
                          </select>
                        </div>

                        <div class="ddr-dropdown mx-1">
                          <div class="caret"></div>
                          <select class="style-dropdown fs-xxs" name="">
                            <option value="">is above</option>
                            <option value="">is below</option>
                            <option value="">is crossing down</option>
                            <option value="">is crossing up</option>
                          </select>
                        </div>

                        <div
                          class="text-box-fx d-flex align-items-center me-2"
                          style="width: 50px"
                        >
                          <input
                            type="number"
                            name=""
                            value=""
                            id=""
                            placeholder="0"
                          />
                        </div>
                      </div>
                      <div class="card-close-area d-flex">
                        <button
                          type="button"
                          name="button"
                          class="btn copy-row-left icon-xs bg-secondary text-light me-1"
                        >
                          <i class="fa-regular fa-copy"></i>
                        </button>
                        <button
                          type="button"
                          name="button"
                          class="btn close-row-left icon-xs bg-danger text-light"
                        >
                          <i class="fa-solid fa-xmark"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>

              <div
                class="icon-xs hoverable-white-card p-0 fs-xs pointer text-center w-100 text-dark"
                id="add-new-row-left"
              >
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>

            <div class="col-6 col-md-6 my-3">
              <div class="d-flex align-items-center justify-content-between">
                <span class="fw-md"
                  >Close Conditions <sup class="text-danger">*</sup></span
                >
                <button
                  type="button"
                  name="button"
                  class="btn btn-primary fs-xxs btn-extra"
                >
                  Templates
                </button>
              </div>

              <ol class="append-list-right mt-3">
                <li class="clone-div clone-div-right">
                  <div class="fixed-white-card">
                    <div class="d-flex justify-content-between">
                      <div class="card-data-area d-flex">
                        <div class="ddr-dropdown">
                          <div class="caret"></div>
                          <select class="style-dropdown fs-xxs" name="">
                            <option value="">Price</option>
                            <option value="">Percentage</option>
                            <option value="">RSI</option>
                          </select>
                        </div>

                        <div class="ddr-dropdown mx-1">
                          <div class="caret"></div>
                          <select class="style-dropdown fs-xxs" name="">
                            <option value="">is above</option>
                            <option value="">is below</option>
                            <option value="">is crossing down</option>
                            <option value="">is crossing up</option>
                          </select>
                        </div>

                        <div
                          class="text-box-fx d-flex align-items-center me-2"
                          style="width: 50px"
                        >
                          <input
                            type="number"
                            name=""
                            value=""
                            id=""
                            placeholder="0"
                          />
                        </div>
                      </div>
                      <div class="card-close-area d-flex">
                        <button
                          type="button"
                          name="button"
                          class="btn copy-row-right icon-xs bg-secondary text-light me-1"
                        >
                          <i class="fa-regular fa-copy"></i>
                        </button>
                        <button
                          type="button"
                          name="button"
                          class="btn close-row-right icon-xs bg-danger text-light"
                        >
                          <i class="fa-solid fa-xmark"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>

              <div
                class="icon-xs hoverable-white-card p-0 fs-xs pointer text-center w-100 text-dark"
                id="add-new-row-right"
              >
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="mt-4">
              <span class="fw-md"
                >Open Order <sup class="text-danger">*</sup></span
              >
              <div class="fixed-white-card mt-3">
                <div class="row align-items-center">
                  <div class="col-6 col-md-6">
                    <div class="">
                      <button
                        type="button"
                        name="button"
                        class="btn btn-sm activated fs-xxs"
                      >
                        Market
                      </button>
                      <button
                        type="button"
                        name="button"
                        class="btn btn-sm fs-xxs"
                        disabled
                      >
                        Limit
                      </button>
                      <button
                        type="button"
                        name="button"
                        class="btn btn-sm fs-xxs"
                        disabled
                      >
                        Stop
                      </button>
                    </div>
                  </div>
                  <div class="col-6 col-md-6">
                    <div class="">
                      <p class="fs-xxs">
                        Open order at the actual market price
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="mt-4">
              <div class="d-flex align-items-center justify-content-between">
                <span class="fw-md"
                  >Close Order <sup class="text-danger">*</sup></span
                >
                <button
                  type="button"
                  name="button"
                  class="btn btn-primary fs-xxs btn-extra"
                >
                  Templates
                </button>
              </div>
              <div class="fixed-white-card mt-3">
                <div class="row align-items-center">
                  <div class="col-6 col-md-6">
                    <div class="">
                      <button
                        type="button"
                        name="button"
                        class="btn btn-sm activated fs-xxs"
                      >
                        Market
                      </button>
                      <button
                        type="button"
                        name="button"
                        class="btn btn-sm fs-xxs"
                        disabled
                      >
                        Limit
                      </button>
                      <button
                        type="button"
                        name="button"
                        class="btn btn-sm fs-xxs"
                        disabled
                      >
                        Stop
                      </button>
                    </div>
                  </div>
                  <div class="col-6 col-md-6">
                    <div class="">
                      <p class="fs-xxs">
                        Open order at the actual market price
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="pb-3">
            <span class="fw-md">Volume <sup class="text-danger">*</sup></span>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="fixed-white-card">
                <div class="d-flex justify-content-between">
                  <span>Leverage:</span>
                  <div class="d-flex">
                    <div class="text-box-xs text-box-fx">
                      <input
                        type="number"
                        name=""
                        value="1"
                        id="leverage"
                        class="text-end"
                      />
                    </div>
                  </div>
                </div>
                <div class="my-4">
                  <div class="fm-control-range">
                    <input
                      type="range"
                      min="0"
                      max="100"
                      value="1"
                      id="leverageSlider"
                    />
                    <div class="d-flex">
                      <span class="very-low"></span>
                      <span class="low"></span>
                      <span class="medium"></span>
                      <span class="high"></span>
                      <span class="very-high"></span>
                    </div>
                  </div>
                </div>

                <div
                  class="pt-3 d-flex align-items-center justify-content-center"
                >
                  <span class="badge bg-secondary incremental me-2">|</span>
                  <span>Max size: 1,500,000 USDT</span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="fixed-white-card">
                <div class="d-flex justify-content-between">
                  <span>Set margin:</span>
                  <div class="d-flex">
                    <div
                      class="text-box-xs text-box-fx text-box-lsm d-flex align-items-center me-1"
                    >
                      <div class="icon-sm">
                        <img
                          src="images/crosshair.svg"
                          alt=""
                          class="img-fluid ms-1"
                        />
                      </div>
                      <input
                        type="number"
                        name=""
                        value="18.98"
                        id="setMarginTB-1"
                        class="text-end"
                      />
                      <span class="me-1">USDT</span>
                    </div>
                    <div
                      class="text-box-xs text-box-fx d-flex align-items-center"
                    >
                      <input
                        type="number"
                        name=""
                        value="4.856"
                        id="setMarginTB-2"
                        class="text-end"
                      />
                      <span class="me-1">%</span>
                    </div>
                  </div>
                </div>
                <div class="my-4 mb-5">
                  <div class="fm-control-range">
                    <input
                      type="range"
                      min="0"
                      max="100"
                      value="4.856"
                      id="setMarginSlider"
                    />
                    <div class="d-flex">
                      <span class="very-low"></span>
                      <span class="low"></span>
                      <span class="medium"></span>
                      <span class="high"></span>
                      <span class="very-high"></span>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <span>Set position size:</span>
                  <div class="d-flex">
                    <div
                      class="text-box-xs text-box-fx text-box-lsm d-flex align-items-center me-1"
                    >
                      <div class="icon-sm">
                        <img
                          src="images/crosshair.svg"
                          alt=""
                          class="img-fluid ms-1"
                        />
                      </div>
                      <input
                        type="number"
                        name=""
                        value="18.98"
                        id="setMarginTB-3"
                        class="text-end"
                      />
                      <span class="me-1">USDT</span>
                    </div>
                    <div
                      class="text-box-xs text-box-fx d-flex align-items-center"
                    >
                      <input
                        type="number"
                        name=""
                        value="0.001"
                        id="setMarginTB-4"
                        class="text-end"
                      />
                      <span class="me-1">BTC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="fixed-white-card">
                <div class="content-wrap">
                  <div class="d-flex justify-content-between my-2">
                    <p id="available-balance-text">Available balance:</p>
                    <p><span id="available-balance-value">390.86</span> USDT</p>
                  </div>
                  <div class="d-flex justify-content-between my-2">
                    <p id="initial-margin-text">Initial margin:</p>
                    <p><span id="initial-margin-value">31.28</span> USDT</p>
                  </div>
                  <div class="d-flex justify-content-between my-2">
                    <p id="remaining-balance-text">Remaining balance:</p>
                    <p><span id="remaining-balance-value">359.58</span> USDT</p>
                  </div>
                  <div class="d-flex justify-content-between my-2">
                    <p id="rrr-text">RRR</p>
                    <p><span id="rrr-value">-</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fixed-white-card mt-2">
          <div class="text-center py-2">
            <p class="fs-xxs">
              Values marked with active
              <img
                src="images/crosshair.svg"
                alt=""
                class="img-fluid"
                style="width: 12px"
              />
              symbol are set as guiding/decisive for creating your position.<br />
              You can change this by clicking the
              <img
                src="images/crosshair.svg"
                alt=""
                class="img-fluid"
                style="width: 12px"
              />
              symbol in desired field.
            </p>
          </div>
        </div>

        <div class="mt-4">
          <div class="d-flex justify-content-between pb-3">
            <div class="d-flex align-items-center">
              <span class="fw-md me-2">Take Profit</span>
              <button
                type="button"
                name="button"
                class="btn btn-extra-sm"
                id="take-profit-list-add-btn"
              >
                +
              </button>
            </div>

            <div class="">
              <span class="fs-xxs">
                Order type: Take Profit Market, Reduce Only
                <a href="#">Learn more</a>
              </span>
            </div>
          </div>

          <ul class="take-profit-list">
            <!-- append list start -->
            <li class="my-1 take-profit-list-item">
              <div class="row align-items-center">
                <div class="col-8 col-md-8">
                  <div class="">
                    <div class="fixed-white-card">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <span class="badge bg-secondary incremental">1</span>
                        <div
                          class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                          style="width: 150px"
                        >
                          <input
                            type="number"
                            name=""
                            value="0"
                            id=""
                            class="text-end"
                            readonly
                          />
                          <span class="me-1">%</span>
                        </div>

                        <div class="ddr-dropdown">
                          <div class="caret"></div>
                          <select class="style-dropdown fs-xxs" name="">
                            <option value="">Market price (USDT)</option>
                            <option value="">% of price</option>
                            <option value="">% of balance</option>
                            <option value="">Gross PnL</option>
                          </select>
                        </div>

                        <div class="quantity-add-remove">
                          <div class="d-flex align-items-center">
                            <span>Quantity:</span>
                            <div
                              class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                              style="width: 50px"
                            >
                              <input
                                type="number"
                                name=""
                                value="0"
                                id="QuantityTB-1"
                                class="text-end"
                                readonly
                              />
                              <span class="me-1">%</span>
                            </div>
                            <div class="fm-control-range" style="top: -10px">
                              <input
                                type="range"
                                min="0"
                                max="100"
                                value="100"
                                id="QuantitySlider"
                              />
                              <div class="d-flex">
                                <span class="very-low"></span>
                                <span class="low"></span>
                                <span class="medium"></span>
                                <span class="high"></span>
                                <span class="very-high"></span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <button
                          type="button"
                          name="button"
                          class="btn btn-secondary fs-xxs btn-extra"
                        >
                          Split even
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-4 col-md-4">
                  <div class="fs-xxs">
                    <div class="fixed-white-card">
                      <div class="d-flex align-items-center">
                        <span>PnL:</span>
                        <div
                          class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                          style="width: 160px"
                        >
                          <input
                            type="number"
                            name=""
                            value=""
                            id=""
                            class="text-end"
                            disabled
                          />
                          <span class="me-1">USDT</span>
                        </div>
                        <div
                          class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                          style="width: 100px"
                        >
                          <input
                            type="number"
                            name=""
                            value=""
                            id=""
                            class="text-end"
                            disabled
                          />
                          <span class="me-1">%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <!-- append list end -->

          <div class="row align-items-center">
            <div class="col-8 col-md-8">
              <div class="">
                <div class="fixed-white-card">
                  <div class="d-flex align-items-center justify-content-center">
                    <span>Quantity:</span>
                    <div
                      class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                      style="width: 80px"
                    >
                      <input
                        type="number"
                        name=""
                        value="0"
                        id=""
                        class="text-end"
                        readonly
                      />
                      <span class="me-1">%</span>
                    </div>
                    <button
                      type="button"
                      name="button"
                      class="btn btn-secondary fs-xxs btn-extra"
                    >
                      Split even
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 col-md-4">
              <div class="fs-xxs">
                <div class="fixed-white-card">
                  <div class="d-flex align-items-center">
                    <span>PnL:</span>
                    <div
                      class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                      style="width: 160px"
                    >
                      <input
                        type="number"
                        name=""
                        value=""
                        id=""
                        class="text-end"
                        disabled
                      />
                      <span class="me-1">USDT</span>
                    </div>
                    <div
                      class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                      style="width: 100px"
                    >
                      <input
                        type="number"
                        name=""
                        value=""
                        id=""
                        class="text-end"
                        disabled
                      />
                      <span class="me-1">%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <div class="d-flex justify-content-between pb-3">
            <div class="d-flex align-items-center">
              <span class="fw-md me-2">Stop Loss</span>
              <button
                type="button"
                name="button"
                class="btn btn-extra-sm"
                id="stop-loss-list-add-btn"
              >
                +
              </button>
            </div>

            <div class="">
              <span class="fs-xxs">
                Order type: Stop Market, Reduce Only <a href="#">Learn more</a>
              </span>
            </div>
          </div>

          <!-- append list start -->
          <ul class="stop-loss-list">
            <li class="my-1 stop-loss-list-item">
              <div class="row align-items-center">
                <div class="col-8 col-md-8">
                  <div class="">
                    <div class="fixed-white-card">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <span class="badge bg-secondary incremental">1</span>
                        <div
                          class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                          style="width: 150px"
                        >
                          <input
                            type="number"
                            name=""
                            value="0"
                            id=""
                            class="text-end"
                            readonly
                          />
                          <span class="me-1">%</span>
                        </div>

                        <div class="ddr-dropdown">
                          <div class="caret"></div>
                          <select class="style-dropdown fs-xxs" name="">
                            <option value="">Market price (USDT)</option>
                            <option value="">% of price</option>
                            <option value="">% of balance</option>
                            <option value="">Gross PnL</option>
                          </select>
                        </div>

                        <div class="quantity-add-remove">
                          <div class="d-flex align-items-center">
                            <span>Quantity:</span>
                            <div
                              class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                              style="width: 50px"
                            >
                              <input
                                type="number"
                                name=""
                                value="0"
                                id="QuantityTB-1"
                                class="text-end"
                                readonly
                              />
                              <span class="me-1">%</span>
                            </div>
                            <div class="fm-control-range" style="top: -10px">
                              <input
                                type="range"
                                min="0"
                                max="100"
                                value="100"
                                id="QuantitySlider"
                              />
                              <div class="d-flex">
                                <span class="very-low"></span>
                                <span class="low"></span>
                                <span class="medium"></span>
                                <span class="high"></span>
                                <span class="very-high"></span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <button
                          type="button"
                          name="button"
                          class="btn btn-secondary fs-xxs btn-extra"
                        >
                          Split even
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-4 col-md-4">
                  <div class="fs-xxs">
                    <div class="fixed-white-card">
                      <div class="d-flex align-items-center">
                        <span>PnL:</span>
                        <div
                          class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                          style="width: 160px"
                        >
                          <input
                            type="number"
                            name=""
                            value=""
                            id=""
                            class="text-end"
                            disabled
                          />
                          <span class="me-1">USDT</span>
                        </div>
                        <div
                          class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                          style="width: 100px"
                        >
                          <input
                            type="number"
                            name=""
                            value=""
                            id=""
                            class="text-end"
                            disabled
                          />
                          <span class="me-1">%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <!-- append list end -->

          <div class="row align-items-center">
            <div class="col-8 col-md-8">
              <div class="">
                <div class="fixed-white-card">
                  <div class="d-flex align-items-center justify-content-center">
                    <span>Quantity:</span>
                    <div
                      class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                      style="width: 80px"
                    >
                      <input
                        type="number"
                        name=""
                        value="0"
                        id=""
                        class="text-end"
                        readonly
                      />
                      <span class="me-1">%</span>
                    </div>
                    <button
                      type="button"
                      name="button"
                      class="btn btn-secondary fs-xxs btn-extra"
                    >
                      Split even
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 col-md-4">
              <div class="fs-xxs">
                <div class="fixed-white-card">
                  <div class="d-flex align-items-center">
                    <span>PnL:</span>
                    <div
                      class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                      style="width: 160px"
                    >
                      <input
                        type="number"
                        name=""
                        value=""
                        id=""
                        class="text-end"
                        disabled
                      />
                      <span class="me-1">USDT</span>
                    </div>
                    <div
                      class="text-box-xs text-box-fx d-flex align-items-center mx-2"
                      style="width: 100px"
                    >
                      <input
                        type="number"
                        name=""
                        value=""
                        id=""
                        class="text-end"
                        disabled
                      />
                      <span class="me-1">%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- buy button -->
        <div class="mt-3">
          <button
            type="button"
            name="button"
            class="btn btn-primary w-100"
            disabled
          >
            Buy BTCUSDT
          </button>
        </div>
      </div>
    </div>

    <!-- popups start -->
    <div class="auth-wrapper">
      <div class="auth-card"></div>
    </div>
    <!-- popups end -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="assets/js/app.js" charset="utf-8"></script>
    <script src="assets/js/common.js" charset="utf-8"></script>

    <script type="text/javascript">
      // dropdown list
      const dropdownlist = document.querySelectorAll(".dropdown_list");

      dropdownlist.forEach((droplist) => {
        const select = droplist.querySelector(".d-select");
        const caret = droplist.querySelector(".d-caret");
        const menu = droplist.querySelector(".d-menu");
        const options = droplist.querySelectorAll(".d-menu li");
        const selected = droplist.querySelector(".d-selected");
        const hider = droplist.querySelector(".hider-value");
        const display = droplist.querySelector(".display-value");

        select.addEventListener("click", () => {
          caret.classList.toggle("d-caret-rotate");
          menu.classList.toggle("d-menu-open");
        });
        options.forEach((option) => {
          option.addEventListener("click", () => {
            selected.innerHTML = option.innerHTML;
            caret.classList.remove("d-caret-rotate");
            menu.classList.remove("d-menu-open");
          });
        });
      });

      // left data list
      $(document).ready(function () {
        $(".copy-row-left").click(function () {
          var lenght = $(".clone-div-left").length;
          var copy = $(".clone-div-left:first").clone();
          if (lenght < 100) {
            $(".append-list-left").append(copy);
          }
        });
        $("#add-new-row-left").click(function () {
          var lenght = $(".clone-div-left").length;
          var copy = $(".clone-div-left:first").clone();
          if (lenght < 100) {
            $(".append-list-left").append(copy);
          }
        });
        $(".close-row-left").click(function () {
          var lenght = $(".clone-div-left").length;
          if (lenght > 1) {
            $(".clone-div-left:last").remove();
          }
        });
      });

      // right data list
      $(document).ready(function () {
        $(".copy-row-right").click(function () {
          var lenght = $(".clone-div-right").length;
          var copy = $(".clone-div-right:first").clone();
          if (lenght < 100) {
            $(".append-list-right").append(copy);
          }
        });
        $("#add-new-row-right").click(function () {
          var lenght = $(".clone-div-right").length;
          var copy = $(".clone-div-right:first").clone();
          if (lenght < 100) {
            $(".append-list-right").append(copy);
          }
        });
        $(".close-row-right").click(function () {
          var lenght = $(".clone-div-right").length;
          if (lenght > 1) {
            $(".clone-div-right:last").remove();
          }
        });
      });

      // take profit list
      $(document).ready(function () {
        $(".take-profit-list-item").hide();
        $("#take-profit-list-add-btn").click(function () {
          var lenghtStopList = $(".take-profit-list-item").length;
          var copyStopList = $(".take-profit-list-item:first").clone();
          if (lenghtStopList < 100) {
            $(".take-profit-list").append(copyStopList.show());
          }
        });
        $(".take-profit-list-close-btn").click(function () {
          var lenght = $(".take-profit-list-item").length;
          if (lenght > 1) {
            $(".take-profit-list-item:last").remove();
          }
        });
      });
      // close loss list
      $(document).ready(function () {
        $(".stop-loss-list-item").hide();
        $("#stop-loss-list-add-btn").click(function () {
          var lenghtStopList = $(".stop-loss-list-item").length;
          var copyStopList = $(".stop-loss-list-item:first").clone();
          if (lenghtStopList < 100) {
            $(".stop-loss-list").append(copyStopList.show());
          }
        });
        $(".stop-loss-list-close-btn").click(function () {
          var lenght = $(".stop-loss-list-item").length;
          if (lenght > 1) {
            $(".stop-loss-list-item:last").remove();
          }
        });
      });

      // slider 1
      const slideValue = document.getElementById("leverage");
      const leverageSlider = document.getElementById("leverageSlider");
      leverageSlider.oninput = () => {
        let value = leverageSlider.value;
        slideValue.value = value;
      };

      // slider 1
      const setMarginSliderValue1 = document.getElementById("setMarginTB-1");
      const setMarginSliderValue2 = document.getElementById("setMarginTB-2");
      const setMarginSliderValue3 = document.getElementById("setMarginTB-3");
      const setMarginSliderValue4 = document.getElementById("setMarginTB-4");
      const availablebalancevalue = document.getElementById(
        "available-balance-value"
      );
      const initialmarginvalue = document.getElementById(
        "initial-margin-value"
      );
      const remainingbalancevalue = document.getElementById(
        "remaining-balance-value"
      );
      const rrrvalue = document.getElementById("rrr-value");

      const setMarginSlider = document.getElementById("setMarginSlider");
      setMarginSlider.oninput = () => {
        let setMarginvalue = setMarginSlider.value;
        setMarginSliderValue1.value = setMarginvalue / 2;
        setMarginSliderValue2.value = setMarginvalue;
        setMarginSliderValue3.value = setMarginvalue / 4;
        setMarginSliderValue4.value = setMarginvalue / 6;
        availablebalancevalue.textContent =
          availablebalancevalue.textContent - setMarginSliderValue1.value;
      };

      // button activator
      $(document).ready(function () {
        $(".loop-settings-list").click(function () {
          $(this).addClass("active").siblings().removeClass("active");
        });
      });

      $(document).ready(function () {
        $(".timeframe-list").click(function () {
          $(this).addClass("active").siblings().removeClass("active");
        });
      });
    </script>
  </body>
</html>
