<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <title>Document</title>
  <meta name="description" content="">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="Document">
  <meta property="og:site_name" content="" />
  <!-- website name -->
  <meta property="og:site" content="" />
  <!-- website link -->
  <meta property="og:title" content="Document" />
  <!-- title shown in the actual shared post -->
  <meta property="og:description" content="" />
  <!-- description shown in the actual shared post -->
  <meta property="og:image" content="" />
  <!-- image link, make sure it's jpg -->
  <meta property="og:url" content="" />
  <!-- where do you want your post to link to -->
  <meta property="og:type" content="article" />
  <link rel="icon" href="images/favicon.png" type="image/png" sizes="25x25">
  <!-- fontawesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- stylesheets -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/app.css" rel="stylesheet" />
</head>
<body>

  <!-- header start -->
  <header>
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <div class="logo d-flex align-items-center">
            <img src="images/logo-folded.png" alt="" class="img-fluid">
          </div>
          <ul class="l-menus d-flex">
            <li class="link-item">
              <a href="#">
                <span>Home</span>
              </a>
            </li>
            <li class="link-item sub-menu-box">
              <a href="#">
                <span class="d-flex align-items-center">
                  About the Company <i class="fa-solid fa-sort-down fs-xs ms-2"></i>
                </span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Product</a>
                </li>
                <li>
                  <a href="#">Single Product</a>
                </li>
              </ul>
            </li>
            <li class="link-item sub-menu-box">
              <a href="#">
                <span class="d-flex align-items-center">
                  News <i class="fa-solid fa-sort-down fs-xs ms-2"></i>
                </span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="#">Archive Post</a>
                </li>
                <li>
                  <a href="#">Single Post</a>
                </li>
                <li>
                  <a href="#">404</a>
                </li>
              </ul>
            </li>
            <li class="link-item sub-menu-box">
              <a href="#">
                <span class="d-flex align-items-center">
                  Solution <i class="fa-solid fa-sort-down fs-xs ms-2"></i>
                </span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="#">Service</a>
                </li>
                <li>
                  <a href="#">Pricing Plan</a>
                </li>
                <li>
                  <a href="#">Signal Product</a>
                </li>
                <li>
                  <a href="#">Help</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </li>
            <li class="link-item">
              <a href="#">
                <span>Partnership</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="">
          <div class="rsp-menu-toggler">
            <i class="fa-solid fa-bars"></i>
          </div>
          <ul class="r-menus align-items-center d-none d-sm-none d-md-flex">
            <li>
              <a href="#">Registration</a>
            </li>
            <li>
              <a href="#" class="btn btn-prime">Start a Demo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- content start -->
  <section class="h-background">
    <div class="container">
      <div class="row align-items-center flex-column-reverse flex-md-column-reverse flex-lg-row mt-5">
        <div class="col-md-12 col-lg-6 my-3">
          <div class="">
            <h1 class="fs-xl fw-bold">
              Start Trading with a trusted
              <span>Axcorp.</span>
            </h1>
            <p class="py-5 text-light-blue">A Trading that support your financial Goals. Let's us
              help get you on the right track as you start your investing journey.
            </p>
            <div class="d-flex">
              <a href="#" class="btn btn-prime">
                <span class="fw-bold">Start Trading - it's free</span>
                <i class="fa-solid fa-circle-right ms-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 my-3">
          <div class="content-image-box">
            <img src="images/landing-page-1-1536x1080.png" alt="" class="img-fluid">
            <div class="h-refresh-card d-none d-md-none d-lg-block">
              <p class="text-light-blue fs-xs fw-bold">
                <i class="fa-solid fa-users me-1 text-blue-1"></i>
                People Joined Us
              </p>
              <h1 class="fw-bold">
                <span id="h-counter">280</span><span>k</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6">
          <div class="">
            <img src="images/photo-3-1-768x662.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="">
            <h1 class="fw-bold py-4 fs-md">Axcorp trading platform.</h1>

            <p class="py-3 text-light-blue">
              Explore the markets with MT - 4 the World most widely used trading platform simple
              and intuitive for beginners yet highly customisable full of advanced features for professional.
            </p>
            <p class="py-3 text-light-blue">
              Quis eleifend quam adipiscing vitae proin sagittis. Adipiscing elit duis tristique  nibh sit
              amet commodo nulla. Vitae semper quis lectus nulla. Pretium aenean pharetra magna ac placerat
              vestibulum lectus.
            </p>

            <div class=" mt-4">
              <a href="#" class="btn btn-prime">
                <span class="fw-bold">Read More</span>
                <i class="fa-solid fa-circle-right ms-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="text-center">
        <h1 class="fw-bold fs-md py-2">Trade Smart, Trade Safe.</h1>
        <p class="text-light-blue py-2">Discover Axcorp advantage our trading.</p>
      </div>

      <div class="row align-items-end mt-4">
        <div class="col-sm-12 col-md-6 col-lg-3 my-3">
          <div class="card-sm-colored first-color mb-3">
            <div class="content">
              <h4>FLEXIBILITY DEVICE</h4>

              <div class="d-flex align-items-center py-4">
                <div class="icon-sm me-3">
                  <img src="images/bitcoinusd-1.png" alt="" class="img-fluid">
                </div>
                <div class="">
                  <p class="fs-sm">BTC/USD</p>
                  <p class="text-secondary">120.32 |+14% in 16 min</p>
                </div>
              </div>

              <div class="pt-2">
                <img src="images/photo-6-2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="card-sm-colored second-color mt-3">
            <div class="content">
              <h4>ADVISORS</h4>

              <div class="py-4">
                <p>Provide information about your experience and trading knowledge</p>
              </div>

              <div class="pt-2">
                <a href="#" class="btn btn-prime">
                  <span class="fw-bold">Open Account</span>
                  <i class="fa-solid fa-circle-right ms-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card-sm-colored third-color mb-3">
            <div class="content">
              <h4>SAFE AND SECURE</h4>

              <div class="pt-4">
                <p>MT-4 Software which protect data between traders</p>
                <a href="#" class="btn link-btn mt-2 px-0 fw-bold">
                  <span>Learn More</span>
                  <i class="fa-solid fa-circle-right ms-1"></i>
                </a>
              </div>
            </div>
            <div class="">
              <img src="images/photo-5-7-768x561.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card-sm-colored forth-color mb-3">
            <div class="content">
              <h4>SAFE AND SECURE</h4>

              <div class="sm-video-card mt-4">
                <img src="images/photo-7.jpg" alt="" class="img-fluid">
              </div>

              <div class="pt-4">
                <p>Fund your account and start trading on the world’s financial markets</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card-sm-colored fifth-color mb-3">
            <div class="content">
              <h4>USER EXPERIENCE</h4>

              <div class="pt-4">
                <p>Trade using an advanced trading platform using web or mobile</p>
              </div>
            </div>
          </div>

          <div class="card-sm-colored sixth-color mt-3">
            <div class="content">
              <h4>MULTIPLE MARKET</h4>

              <div class="pt-4">
                <p>Find yourself a suitable trading plan tailored to your needs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="">
            <h1 class="fw-bold fs-md pb-3">New Trading Solutions.</h1>

            <p class="pt-4 text-light-blue">
              Discover Axcorp advantage trade can access their mobile trading system via any
              dekstop and mobile browser, user friendly and reliable.
            </p>
            <p class="py-4 text-secondary">
              Tellus mauris a diam maecenas sed enim ut sem. Sem integer vitae justo magna. Orci eu
              lobortis elementum nibh mattis nunc sed blandit libero volutpat sed cras tellus at urna
              mattis pellentesque id nibh. Aliquet risus feugiat in ante metus at tempor ac felis donec et
              odio pellentesque.
            </p>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <ul class="ls-1 ms-4 ps-2">
                  <li>Trusted by Traders 2009</li>
                  <li>Professional Support User</li>
                  <li>Optimized Trading Solutions</li>
                </ul>
              </div>
              <div class="col-sm-12 col-md-6">
                <ul class="ls-1 ms-4 ps-2">
                  <li>Licensed & Regulated</li>
                  <li>Comprehensive Analysis</li>
                  <li>Premium trading technology</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="">
            <img src="images/map-1-1536x942.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="text-center">
        <h1 class="fw-bold fs-md">Trade our Product.</h1>
        <p class="text-light-blue pt-4">Search our Instruments, Check what interest you today.</p>
      </div>

      <div class="row mt-5">
        <div class="col-md-12 col-lg-6 col-xl-4 my-3">
          <div class="card-sm">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <div class="icon-sm me-3">
                  <img src="images/product-1.png" alt="" class="img-fluid">
                </div>
                <h5>FOREX</h5>
              </div>
              <div class="d-flex align-items-center">
                <span id="" class="me-1 text-secondary">4.5</span>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="mt-4">
              <p class="text-secondary fw-bold">Exchange:</p>
              <p>EUR/USD, USD/JPY, GPB/USD, ETC</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4 my-3">
          <div class="card-sm">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <div class="icon-sm me-3">
                  <img src="images/product-4.png" alt="" class="img-fluid">
                </div>
                <h5>CRYPTO</h5>
              </div>
              <div class="d-flex align-items-center">
                <span id="" class="me-1 text-secondary">4.8</span>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="mt-4">
              <p class="text-secondary fw-bold">Exchange:</p>
              <p>BTC/USD, LTC/USD, ETH/USD, ETC</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4 my-3">
          <div class="card-sm">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <div class="icon-sm me-3">
                  <img src="images/product-6.png" alt="" class="img-fluid">
                </div>
                <h5>ENERGIES</h5>
              </div>
              <div class="d-flex align-items-center">
                <span id="" class="me-1 text-secondary">4.2</span>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="mt-4">
              <p class="text-secondary fw-bold">Exchange:</p>
              <p>OIL, GAS, AND ALL ENERGIES</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4 my-3">
          <div class="card-sm">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <div class="icon-sm me-3">
                  <img src="images/product-3.png" alt="" class="img-fluid">
                </div>
                <h5>STOCK</h5>
              </div>
              <div class="d-flex align-items-center">
                <span id="" class="me-1 text-secondary">4.0</span>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="mt-4">
              <p class="text-secondary fw-bold">Exchange:</p>
              <p>APPLE, GOOGLE, FACEBOOK</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4 my-3">
          <div class="card-sm">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <div class="icon-sm me-3">
                  <img src="images/product-5.png" alt="" class="img-fluid">
                </div>
                <h5>INDICIES</h5>
              </div>
              <div class="d-flex align-items-center">
                <span id="" class="me-1 text-secondary">4.6</span>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="mt-4">
              <p class="text-secondary fw-bold">Exchange:</p>
              <p>U$500, UK100, EUR750</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4 my-3">
          <div class="card-sm">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <div class="icon-sm me-3">
                  <img src="images/product-2.png" alt="" class="img-fluid">
                </div>
                <h5>METALS</h5>
              </div>
              <div class="d-flex align-items-center">
                <span id="" class="me-1 text-secondary">3.8</span>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star me-1"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="mt-4">
              <p class="text-secondary fw-bold">Exchange:</p>
              <p>GOLD,SILVER, AND MORE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-6 my-3">
          <div class="">
            <img src="images/photo-1-5-768x837.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-12 col-lg-6 my-3">
          <div class="">
            <h1 class="fs-md fw-bold">Experience on any Device.</h1>
            <p class="pt-4 text-light-blue">Trade can access their mobile trading system via any dekstop and mobile
              browser, user friendly and reliable.</p>

            <div class="glowing-card mt-5">
              <div class="d-flex align-items-center">
                <div class="pe-5">
                  <h1 class="fw-bold">4.8</h1>
                </div>
                <div class="">
                  <div class="mb-4">
                    <i class="fa-solid fa-star me-1"></i>
                    <i class="fa-solid fa-star me-1"></i>
                    <i class="fa-solid fa-star me-1"></i>
                    <i class="fa-solid fa-star me-1"></i>
                    <i class="fa-solid fa-star"></i>
                    <p class="text-light-blue">App ratting</p>
                  </div>
                  <p class="text-secondary">Thank you so much! Eget nulla facilisi etiam dignissim diam quis
                    enim nibh mauris cursus mattis.</p>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-sm-12 col-md-3">
                <div class="text-center">
                  <img src="images/metatrader-store.png" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="text-center">
                  <img src="images/google-play.png" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="text-center">
                  <img src="images/app-store.png" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="text-center">
                  <img src="images/windows-store.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="text-center">
        <h1 class="fw-bold fs-md">The Most Popular Assets in the World.</h1>
        <p class="pt-4 text-light-blue">Search our Instruments, Check what interest you today.</p>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-xl-4 my-3">
          <div class="card-md">
            <div class="d-flex align-items-center justify-content-between">
              <div class="">
                <div class="icon-sm">
                  <img src="images/bitcoin.svg" alt="" class="img-fluid">
                </div>
                <p>Bitcoin</p>
                <p class="text-secondary fs-xxs">BTC / USD</p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <h4 class="pb-3">$19,887.55</h4>
                <p class="increase-up">0.57%</p>
              </div>
            </div>

            <div class="table-wrap fs-xxs text-secondary mt-4">
              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Rank:</span>
                <span># 1</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>1H change:</span>
                <span class="decrease-down">-0.09%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H change:</span>
                <span class="increase-up">0.56%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>7d change:</span>
                <span class="decrease-down">-6.96%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>30d change:</span>
                <span class="decrease-down">-14.92%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Market Cap:</span>
                <span class="text-secondary">$380.72Billion</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H High/Low</span>
                <span class="text-secondary">$20,044.00/$19,414.75</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-4 my-3">
          <div class="card-md">
            <div class="d-flex align-items-center justify-content-between">
              <div class="">
                <div class="icon-sm">
                  <img src="images/ethereum.svg" alt="" class="img-fluid">
                </div>
                <p>Ethereum</p>
                <p class="text-secondary fs-xxs">ETH / USD</p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <h4 class="pb-3">$1,433.07</h4>
                <p class="decrease-down">-2.11%</p>
              </div>
            </div>

            <div class="table-wrap fs-xxs text-secondary mt-4">
              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Rank:</span>
                <span># 2</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>1H change:</span>
                <span class="decrease-down">-0.08%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H change:</span>
                <span class="decrease-down">-2.11%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>7d change:</span>
                <span class="decrease-down">-16.54%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>30d change:</span>
                <span class="decrease-down">-21.90%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Market Cap:</span>
                <span class="text-secondary">$172.67Billion</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H High/Low</span>
                <span class="text-secondary">$1,479.94/$1,419.17</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-4 my-3">
          <div class="card-md">
            <div class="d-flex align-items-center justify-content-between">
              <div class="">
                <div class="icon-sm">
                  <img src="images/usd-coin.svg" alt="" class="img-fluid">
                </div>
                <p>USD Coin</p>
                <p class="text-secondary fs-xxs">USDC / USD</p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <h4 class="pb-3">$1.00</h4>
                <p class="increase-up">0.17%</p>
              </div>
            </div>

            <div class="table-wrap fs-xxs text-secondary mt-4">
              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Rank:</span>
                <span># 3</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>1H change:</span>
                <span class="decrease-down">0.06%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H change:</span>
                <span class="increase-up">0.17%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>7d change:</span>
                <span class="decrease-down">0.01%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>30d change:</span>
                <span class="ncrease-up">0.07%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Market Cap:</span>
                <span class="text-secondary">$50.26Billion</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H High/Low</span>
                <span class="text-secondary">$1.00/$0.99</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-4 my-3">
          <div class="card-md">
            <div class="d-flex align-items-center justify-content-between">
              <div class="">
                <div class="icon-sm">
                  <img src="images/usd-coin.svg" alt="" class="img-fluid">
                </div>
                <p>USD Coin</p>
                <p class="text-secondary fs-xxs">USDC / USD</p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <h4 class="pb-3">$1.00</h4>
                <p class="increase-up">0.17%</p>
              </div>
            </div>

            <div class="table-wrap fs-xxs text-secondary mt-4">
              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Rank:</span>
                <span># 3</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>1H change:</span>
                <span class="decrease-down">0.06%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H change:</span>
                <span class="increase-up">0.17%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>7d change:</span>
                <span class="decrease-down">0.01%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>30d change:</span>
                <span class="ncrease-up">0.07%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Market Cap:</span>
                <span class="text-secondary">$50.26Billion</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H High/Low</span>
                <span class="text-secondary">$1.00/$0.99</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-4 my-3">
          <div class="card-md">
            <div class="d-flex align-items-center justify-content-between">
              <div class="">
                <div class="icon-sm">
                  <img src="images/ethereum.svg" alt="" class="img-fluid">
                </div>
                <p>Ethereum</p>
                <p class="text-secondary fs-xxs">ETH / USD</p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <h4 class="pb-3">$1,433.07</h4>
                <p class="decrease-down">-2.11%</p>
              </div>
            </div>

            <div class="table-wrap fs-xxs text-secondary mt-4">
              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Rank:</span>
                <span># 2</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>1H change:</span>
                <span class="decrease-down">-0.08%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H change:</span>
                <span class="decrease-down">-2.11%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>7d change:</span>
                <span class="decrease-down">-16.54%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>30d change:</span>
                <span class="decrease-down">-21.90%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Market Cap:</span>
                <span class="text-secondary">$172.67Billion</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H High/Low</span>
                <span class="text-secondary">$1,479.94/$1,419.17</span>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-4 my-3">
          <div class="card-md">
            <div class="d-flex align-items-center justify-content-between">
              <div class="">
                <div class="icon-sm">
                  <img src="images/bitcoin.svg" alt="" class="img-fluid">
                </div>
                <p>Bitcoin</p>
                <p class="text-secondary fs-xxs">BTC / USD</p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <h4 class="pb-3">$19,887.55</h4>
                <p class="increase-up">0.57%</p>
              </div>
            </div>

            <div class="table-wrap fs-xxs text-secondary mt-4">
              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Rank:</span>
                <span># 1</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>1H change:</span>
                <span class="decrease-down">-0.09%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H change:</span>
                <span class="increase-up">0.56%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>7d change:</span>
                <span class="decrease-down">-6.96%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>30d change:</span>
                <span class="decrease-down">-14.92%</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>Market Cap:</span>
                <span class="text-secondary">$380.72Billion</span>
              </div>

              <div class="d-flex justify-content-between py-2 border-bottom">
                <span>24H High/Low</span>
                <span class="text-secondary">$20,044.00/$19,414.75</span>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="py-4 text-center">
        <p class="text-secondary">*Equity Price Above are from alternative exchanges.</p>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="subscribe-box">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <div class="">
              <h1 class="fw-bold py-1">Subscribe to our newsletter.</h1>
              <p class="text-light-blue py-1">Ready to get started, Get our Newsletter and join the Community!</p>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <form class="" action="index.html" method="post">
              <div class="d-flex align-items-center">
                <input type="text" name="" value="" class="fm-control me-2" placeholder="Your Email" required>
                <button type="submit" name="button" class="btn btn-second">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-5">
    <div class="container">
      <div class="text-center">
        <h1 class="fs-md fw-bold">Let's keep in touch.</h1>
        <p class="text-light-blue pt-4">Submit relevant information for live consultation with
          top product Trading.</p>
      </div>

      <div class="d-flex justify-content-center mt-5">
        <div class="wd-70">
          <form class="" action="index.html" method="post">
            <input type="text" name="" value="" class="fm-control my-3" placeholder="Full Name" required>
            <select class="fm-control my-3" name="">
              <option value="Select Country">Select Country</option>
              <option value="INDONESIA">INDONESIA</option>
              <option value="SINGAPURA">SINGAPURA</option>
              <option value="JERMAN">JERMAN</option>
              <option value="SWISS">SWISS</option>
              <option value="SKOTLANDIA">SKOTLANDIA</option>
              <option value="INGGRIS">INGGRIS</option>
              <option value="IRLANDIA">IRLANDIA</option>
              <option value="QATAR">QATAR</option>
              <option value="AMERIKA SERIKAT">AMERIKA SERIKAT</option>
              <option value="NORWEGIA">NORWEGIA</option>
              <option value="BRUNEI DARUSSALAM">BRUNEI DARUSSALAM</option>
              <option value="UNI EMIRAT ARAB">UNI EMIRAT ARAB</option>
              <option value="OTHER">OTHER</option>
            </select>
            <input type="text" name="" value="" class="fm-control my-3" placeholder="Phone Number" required>
            <input type="text" name="" value="" class="fm-control my-3" placeholder="Your Email" required>
            <textarea name="name" rows="8" cols="80" class="fm-control fm-control-md my-3" placeholder="Message"></textarea>

            <div class="">
              <input type="checkbox" name="" value="">
              <span class="text-secondary">I have read and accepted the privacy policy</span>
            </div>

            <div class="mt-4">
              <button type="submit" name="button" class="btn btn-second w-100">Let's Join Trader</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- content end -->

  <!-- footer start -->
  <footer>
    <div class="container">
      <div class="text-center">
        <p>Axcorp with Passion by Rometheme &copy; 2022 All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- footer end -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="assets/js/app.js" charset="utf-8"></script>
</body>
</html>
